/**/
html{
  scroll-snap-type: y mandatory;
}



/*Meme being displayed*/
.home-memes{
  position: relative;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/*Hide scrollbar for Chrome, Safari, Opera*/
.home-memes::-webkit-scrollbar{
  display: none;
}

/*Hide scrollbar for Internet Explorer, Edge and Firefox*/
.home-memes{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
