.hidden {
    display: none;
}

.customPhotoUpload{
  position: relative;
  top: 160px;
  left: 160px;
}

.highlight-button:hover{
  color: blue;
  text-align: center;
}

.center-object{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description{
  width: 80%;
  margin: 20px auto;
}

.panels{
  margin: 0;
  padding: 0;
}
.circular-progress{
  position: relative;
  left: 30px;
}
